# SPDX-License-Identifier: PMPL-1.0-or-later
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"
  - package-ecosystem: "nix"
    directory: "/"
    schedule:
      interval: "weekly"
